body {
    margin: 75px 50px;
    border-left: 5px solid #ccc9bf;
    padding-left: 45px;
}
/*  */
header {
   font-family: 'Lato' , sans-serif;
}

header > h1 {
    margin-top: 10px;
}

header > h1 > a{
    font-size: 70px;
    color: #f2d865;
    font-weight: 100;
}

header > h2{
    font-weight: 400;
}

a {
    text-decoration: none;
}

header > nav > a {
    color: #ccc9bf;
    border-bottom: 1.5px solid #ccc9bf;
    font-size: 25px;
    font-weight: 200;
    margin-left: 15px;
}

header > nav {
    
    margin-top: 25px;
}

/* make changes to article*/

article {
    font-family: 'Lato' , sans-serif;
    margin-top: 80px;
    width: 600px;
    border-bottom: 1px solid #ccc9bf;
    
   
}

article > p::first-letter{
    font-size: 65px;
    color: #ccc9bf;
    float: left;
    line-height: 80%;
}

article > img {
    width: 600px;
    
}
article > h3 {
    font-size: 35px;
    font-weight: 100;
    color: #ccc9bf;
}
article > h2 > a {
    color: black;
    font-size: 35px;
    font-weight: 300;
    margin-top: 0;
}
article > h4 {
    /* float: right; */
    text-align: right;
    
    
}
article > h4 > a {
    
    color: #f2d865;
}

article > p {
    
    
}

footer {
    margin-top: 45px;
    margin-bottom: 40px;
    color: #ccc9bf;
    /* clear: both; */
}

footer > nav > a {
    text-decoration: none;
    color: #f2d865;
}